<div class="card border-primary mb-3">
  <div class="card-header">Registro</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Registro</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/registros/form']">
        Crear Registro
      </button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Número de Calle</th>
          <th>Nombre de la Calle</th>
          <th>Ciudad</th>
          <th>Departamento</th>
          <th>Código Postal</th>
          <th>
            editar
          </th>
          <th>eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registro of registros">
          <td>{{ registro.id }}</td>
          <td>{{ registro.numeroCalle }}</td>
          <td>{{ registro.nombreCalle }}</td>
          <td>{{ registro.ciudad }}</td>
          <td>{{ registro.departamento }}</td>
          <td>{{ registro.codigoPostal }}</td>
         <td>
            <button type="button" name="editar" [routerLink]="['/registros/form', registro.id]" class="btn btn-primary btn-sm">editar</button>
          </td>
          <td>
            <button type="button" name="eliminar" (click)='delete(registro)' class="btn btn-danger btn-sm">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
